<div class="sidebar-module">
    <div class="home">
        <a class="links home-link" routerLink=""><i class="fa-solid fa-house"></i></a>
    </div>
    <div class="sm-links">
        <a class="links social-media" href=""><i class="fa-brands fa-twitter"></i></a>
        <a class="links social-media" href=""><i class="fa-brands fa-facebook-f"></i></a>
        <a class="links social-media" href=""><i class="fa-brands fa-instagram"></i></a>
        <a class="links social-media" href=""><i class="fa-brands fa-youtube"></i></a>
    </div>
</div>