<app-sidebar></app-sidebar>
<section class="formbase-module">
    <div class="container-fluid">
        <div class="row form-base">
            <div class="col-lg-6 col-12 img-base">
                <div class="img-div">
                    <p class="main-head">Balancing Business Needs and User Privacy</p>
                    <p class="sub-head">Potential Benefits</p>
                    <p class="content">Collecting user data is common practice in modern websites and applications as a
                        way of providing creators with more information to make decisions and create better experiences.</p>
                </div>
            </div>
            <div class="col-lg-6 col-12 form-div">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>