<app-home-sidebar></app-home-sidebar>
<app-fixed-btn></app-fixed-btn>
<section class="info-module">
    <div class="card-base">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">GENERAL INFO</h5>
                <div class="card-info">
                    <p class="card-text">Name : </p>
                    <p class="card-data">{{userDetails.firstName}} {{userDetails.lastName}}</p>
                </div>
                <div class="card-info">
                    <p class="card-text">Contact Number : </p>
                    <p class="card-data">{{userDetails.phone}}</p>
                </div>
                <div class="card-info">
                    <p class="card-text">Email Address : </p>
                    <p class="card-data">{{userDetails.email}}</p>
                </div>
                <div class="card-info">
                    <p class="card-text">Password : </p>
                    <p class="card-data">{{userDetails.password}}</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">PERSONAL INFO</h5>
                <div class="card-info">
                    <p class="card-text">Age : </p>
                    <p class="card-data">{{userDetails.age}}</p>
                </div>
                <div class="card-info">
                    <p class="card-text">Address : </p>
                    <p class="card-data">{{userDetails.address}}</p>
                </div>
                <div class="card-info">
                    <p class="card-text">Educational Qualification : </p>
                    <p class="card-data">{{userDetails.education}}</p>
                </div>
                <div class="card-info">
                    <p class="card-text">Country : </p>
                    <p class="card-data">{{userDetails.country}}</p>
                </div>
                <div class="card-info">
                    <p class="card-text">State : </p>
                    <p class="card-data">{{userDetails.state}}</p>
                </div>
                <div class="card-info">
                    <p class="card-text">Message : </p>
                    <p class="card-data">{{userDetails.message}}</p>
                </div>
            </div>
        </div>
    </div>
</section>