@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.info-module {
    padding-left: 250px;

    .card-base {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
    }

    .card {
        padding: $spacer-2;
        margin: 50px;
        max-width: 500px;
        width: 100%;
        text-align: center;
        border: 0;
        border-radius: 0;
        color: $color-primary;
        background-color: $color-letters;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .card-title {
        font-size: $font-md;
        text-align: left;
        font-weight: 400;
        padding: $spacer-1;
        margin-bottom: $spacer-2;
        background-color: $color-primary;
        color: $color-letters;
    }
    .card-info{
        display: flex;
        justify-content: space-between;
        font-size: $font-sm;
        padding: $spacer-1;
    }
    .card-text{
        font-weight: 700;
        max-width: 186px;
        width: 100%;
        text-align: left;
    }
    .card-data{
        text-align: right;
    }
    
}

@include tablet{
    .info-module{
        padding-left: $spacer-0;
        padding-top: 250px;

        .card-base{
            flex-direction: column;
            height: 100%;
        }
    }
}